.jumbotron {
    background-color: #f3f3f3;
    color: #d3a342;
    font-weight: 100px;
    font-weight: bolder;
    font-size: 60px;
    padding-bottom: 0;
    height: 80px;
}

h2 {
    font-size: 40px;
    font-weight: 50px;
}

body {
    padding-top: 0px;
    background-color: #f3f3f3;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    font-family: 'Bodini MT', Didot;
    font-size: 15px;  
}

.container {
    display: block;
    position: relative;
    padding-top: 4px;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Text format */
.description {
    padding-top: 50px;
    font-weight: 800;
    font-size: 30px;
    color: rgb(136, 27, 54);
    text-align: center;
    padding-bottom: 20px;
}
.description #join {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    color: rgb(136, 27, 54);
}
.desc {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(136, 27, 54);
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Form format */
.panel-default>.panel-heading {
    border-color:rgb(136, 27, 54);
    border-style: dotted;
    border-width: 1.5px;
    border-radius: 25px;

    background-color: #c2883c85;
    color:rgb(250, 250, 250);
    font-family: 'Bodini MT', Didot;
    text-align: center;
}
.panel-body {
    font-family: 'Bodini MT', Didot;
    height: 400px;
    -webkit-box-shadow: #040404;
    box-shadow: #040404;
}

.col-lg-6, .panel, .panel-default{
    outline: none;
    background-color: #f3f3f3;
}

.form-control {
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    border-color: rgb(223, 120, 120);
    background-color: rgb(250, 250, 250);
    position: relative;
}
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    border-color: rgb(136, 27, 54);
}

.boxTitle {
    padding-bottom: 10px;
}
/* hide default checkbox */
input[type="checkbox"], input[type="radio"]{
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.checkmark, .radio{
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    border: solid;
    border-color: rgb(223, 120, 120);
    border-width: 1px;
}
.checkmark:after, .radio:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after, .container input:checked ~ .radio:after {
    display: block;
}
/* checkmark style */
.container .checkmark:after, .radio:after {
    left: 2px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid;
    border-color: rgb(136, 27, 54);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* button style */
.btn {
    background-color: rgb(136, 27, 54);
    color: rgb(250, 250, 250);
    border-color: rgb(136, 27, 54);
    margin-left: 45%;
    width: 10%;
}
.btn:hover {
    background-color: #d3a342 !important;
}
.btn:active {
    border: none !important;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;

    background-color: #d3a342 !important;
}
.btn:focus {
    background-color: rgb(253, 186, 186);
    border-color: #d3a342 !important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}