.jumbotron {
    background-color: #dcdcdc;
    color: #d8ab4e;
    font-weight: 100px;
    font-weight: bolder;
    font-size: 60px;
    padding-bottom: 0;
}

h2 {
    padding-top: 40px;
    font-size: 40px;
    font-weight: 50px;
}

body {
    padding-top: 0px;
    background-color: #dcdcdc;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    font-family: 'Bodini MT', Didot;
    font-size: 15px;  
}

.description {
    padding-top: 50px;
    font-weight: 800;
    font-size: 30px;
    color: #040404;
    text-align: center;
    max-width: 1000px;
    padding-bottom: 20px;
}

.description #join {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    color: maroon;
}

.desc {
    font-size: 20px;
    font-weight: bolder;
    color: maroon;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-lg-6, .panel, .panel-default{
    outline: none;
    background-color: white;
}

.panel-default>.panel-heading {
    border-color:maroon;
    border-style: dotted;
    border-width: 1.5px;
    border-radius: 25px;

    background-color: #c2b490;
    color:maroon;
    font-family: 'Bodini MT', Didot;
    text-align: center;
}

.panel-body {
    font-family: 'Bodini MT', Didot;
}
.form-control {
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    border-color: maroon;
    position: relative;
}

.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    border-color: maroon;
}

.container {
    display: block;
    position: relative;
    padding-top: 4px;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide default checkbox */
input[type="checkbox"], input[type="radio"]{
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkmark, .radio{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    border: solid;
    border-color: lightcoral;
    border-width: 1px;
}

.checkmark:after, .radio:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after, .container input:checked ~ .radio:after {
    display: block;
}

/* checkmark style */
.container .checkmark:after, .radio:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid;
    border-color: maroon;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn {
    background-color: lightcoral;
    color: white;
    border-color: maroon;
}

.btn:hover {
    background-color: maroon !important;
}

.btn:active {
    border: none !important;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;

    background-color: maroon !important;
}

.btn:focus {
    background-color: lightcoral;
    border-color: maroon !important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}