<!DOCTYPE html>

<html>
    
<head>
    <title>Book Finder</title>
    <!-- Bootstrap -->
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Linking CSS -->
			 <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
             <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <!-- Fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Arizona' rel='stylesheet' type='text/css'> -->
    
    <!-- JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Moment js -->
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
    <!-- Controls -->
    <!-- <script src="../assets/js/app-bundle.js"></script>
    <script src="../assets/js/match-bundle.js"></script> -->
    <!-- <script data-main="../assets/js/match.js" src="../assets/js/require.js"></script> -->
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/match.js"></script>
    <!-- <script src="../assets/js/main-match.js"></script> -->
</head>

<body>
<div class="container">
    <!-- Jumbotron Title -->
    <div class="jumbotron">
        <h1 class="text-center">Your Perfect Matches!</h1>
    </div>
    <!-- Main -->
    <div class="description">These books fit your description</div>
    <div class="content-wrap">
        <ol class="list-group row">
            <!-- Display matching books -->
            <!-- <script type="text/javascript" src="../assets/js/match.js"> -->
            <% questions.forEach(function(question) { %>
                <li>Number: <%= question.id %> <br/> Text: <%= question.quesStatement %></li>
                <% }); %>
        </ol>
    </div>
</div>

</body>

</html>